html {
  font-size: 62.5%;
}

body {
background: url(/images/project-5.jpg) no-repeat center center / cover;
align-items: center;
  display: flex;
flex-direction: column;
  height: 100vh;
  justify-content: center;
}

#add-task-container {
    display: flex;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    display: flex;
    font-size: 2rem;
    padding: 20px 10px;
    width: 350px;
    margin-bottom: 10px;

}

input {
    flex: 5;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 2.2rem;
    padding: 5px;
}

#add-task-btn {
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid green;
    color: green;
    flex: 1;
    font-size: 2.2rem;
    padding: 5px;
    transition: .5s;
}

#add-task-btn:hover {
    background-color: green;
    color: #fff;
}

/* Styling for task which gets added */

.task {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 5px;
    width: 360px;
}

.task li {
    flex: 4;
    font-size: 2.2rem;
    list-style: none;
    padding: 5px;
    margin: 10px;
}

.task button {
    flex: 1;
    border-radius: 10px;
    background-color: #fff;
    margin-left: 2px;
        cursor: pointer;
    }
    
    .task .checkTask {
        color: orange;
        border: 2px solid orange;
        font-size: 1.5rem;
    }
    
    .task .checkTask:hover {
        background-color: orange;
        color: #fff;
    }
    
    .task .deleteTask {
        color: red;
        border: 2px solid red;
        font-size: 1.3 rem;
}
    
.task .deleteTask:hover {
    background-color: red;
    color: #fff;
}